/* TODO: comment a bit what does what */

RichLog {
    height: 1fr;
    border-top: solid green;
}

.leftcolumn {
    width: 40;
    height: 1fr;
    border-right: solid green;
}

RadioButton {
    width: 1fr;
}

.leftcolumn .header {
    background: #333;
    margin-bottom: 0;
}

.leftcolumn .group {
    height: auto;
    background: transparent;
    border: none;
    margin-bottom: 1;
}

.target, .actual {
    background: transparent;
    border: none;
    margin: 0;
    padding: 0;
    opacity: 1;
}

#dome_pos, #sun_alt {
    text-align: center;
}

#clocks Horizontal {
    height: auto;
}
#clocks Digits {
    width: auto;
}

#clocks Static {
    text-align: right;
    width: 1fr;
}

Digits.danger {
    color: $error;
}

.target RadioButton {
    width: 34;
}

.target .toggle--button {
    background: #333;
    color: green;
}
.actual .toggle--button {
    background: #333;
    color: orange;
}

.target RadioButton:disabled .toggle--button,
.actual RadioButton#AUTO .toggle--button {
    opacity: 0;
}

#warningarea * {
    color: white;
    background: orange;
}
#warningarea .error {
    background: red;
}


.hidden {
    display: none;
}

ProgressBar , ProgressBar > Horizontal {
    width: 1fr;
}

.leftcolumn ProgressBar Bar {
    width: auto;
}

.leftcolumn .switch {
    width: auto;
    height: auto;
}

.switch Static {
    width: 1fr;
}

.switch Switch {
    padding: 0;
    border: none;
}

#cameralist {
    width: 1fr;
    height: 1fr;
}

CameraWidget {
    outline: round $primary-lighten-3;
}

CameraWidget.stale {
    opacity: 0.5;
}

ConfirmationRequestScreen {
    align: center middle;
}

ConfirmationRequestScreen #dialog {
    grid-size: 2;
    grid-gutter: 1 2;
    grid-rows: 1fr 3;
    padding: 0 1;
    width: 60;
    height: 15;
    border: thick $background 80%;
    background: $surface;
}

ConfirmationRequestScreen #question {
    column-span: 2;
    height: 1fr;
    width: 1fr;
    content-align: center middle;
    text-style: bold;
}

ConfirmationRequestScreen #text {
    column-span: 2;
    height: 1fr;
    width: 1fr;
    content-align: center middle;
}

ConfirmationRequestScreen Button {
    width: 100%;
}
