

RichLog {
    /*dock: bottom;*/
    height: 10;
    border-top: solid green;
}

#leftcolumn {
    width: auto;
}

RadioButton {
    width: 25;
}

RadioSet {
    /*border: $secondary-darken-1;*/
    height: auto;
    width: 25;
}

/*
 #statelist, #actual_state, #request_state, #leds, .switchgroup {
    height: auto;
    width: 25;
}*/
/*
.switchgroup Switch {
    height: 3;
}

.switchgroup > Static {
    content-align: center middle;
    width: auto;
    height: 3;
}*/

/* .group { */
/*     border: round $secondary-darken-1; */
/*     height: auto; */
/*     width: 25; */
/* } */
/*
RadioSet {
    outline: none;
    border: none;
}*/


#cameralist {
    width: 1fr;
    height: 1fr;
}


CameraWidget {
    outline: round $primary-lighten-3;
}

CameraWidget.stale {
    opacity: 0.5;
}
