RichLog, DataTable, .leftcolumn {
    border: solid green;
    height: 1fr;
}

#toprow {
    height: 70fr;
}

#bottomrow {
    height: 30fr;
}

.leftcolumn {
    width: 30;
}


.switch {
    width: auto;
    height: auto;
}

.switch Static {
    width: 1fr;
}

.switch Switch {
    padding: 0;
    border: none;
}

RadioButton {
    width: 1fr;
}

.leftcolumn .header {
    background: #333;
    margin-bottom: 0;
}
